<% if(!isAuthenticated){ %>
    <a href="/signup"> Sign Up </a>
    <a href="/signin"> Sign In </a>
<% } %>
<% if(isAuthenticated){ %>
    <a href="/update-password"> Update Password </a>
    <form action="/signout" method="POST">
        <input name="_csrf" type="hidden" value="<%= csrfToken %>">
        <button class="bg-red-700" type="submit"> Sign Out </button>
    </form>
<% } %>