<%- include("./includes/header.ejs") %>
</head>

<body>
    <%- include("./includes/navbar.ejs") %>

    <main>
        <h1> Marvelous </h1>
        <h2> Your Marvel Comics management platform </h2>

    </main>

    <%- include("./includes/footer.ejs") %>

