<%- include("./includes/header.ejs") %>
<link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <%- include("./includes/navbar.ejs") %>

    <main>
        <h1 class="text-3xl font-bold underline"> Marvelous </h1>
        <h2> Your Marvel Comics management platform </h2>

    </main>

    <%- include("./includes/footer.ejs") %>

