<%- include("./includes/header.ejs") %>
</head>

<body>
    <%- include("./includes/navbar.ejs") %>

    <main>
        <h1> Marvelous </h1>
        <h2> Your Marvel Comics management platform </h2>

        <a href="/signup"> Sign Up </a>
        <a href="/signin"> Sign In </a>
        <% if(isAuthenticated){ %>
            <a href="/update-password"> Update Password </a>
            <form action="/signout" method="POST">
                <input name="_csrf" type="hidden" value="<%= csrfToken %>">
                <button type="submit"> Sign Out </button>
            </form>
        <% } %>
    </main>

    <%- include("./includes/footer.ejs") %>

